/* Add CSS styling here */


header{
    background-color: lightgrey;
    padding: 20px;
    margin-bottom: 15px;
}


footer {
    background-color: lightgrey;
    text-align: center;
    padding: 20px ;
}

.top-section{
    display: flex;
   flex-direction:  row;
   justify-content: center;
}

.top-text{
    padding: 20px;
    width: 50%;
}

.row{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 20px;
}

.portfolio-img {
    text-align: center;
}

button{
    background-color: white;
    color: black;
    border: black solid 1px;
    padding: 5px 10px;

}

button:hover{
    background-color: black;
    color: white;
    border: white solid 1px;
}

button a{
    text-decoration: none;
    color: inherit;

}

.profile{
   margin-right: 200px;
   margin-bottom: 200px;
}

/* Media Queries */

@media(max-width:800px) {
   
 .row{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
 }

 header{
     width: 95%;
 }
 
 
 h1{
     text-align: center;
 }
 
 
 nav {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .top-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   align-items: center;
   justify-content: center;
  
 }
 
 nav button a{
display: flex;
justify-content: center;
align-items: center;

 }
 nav button{
     width: 100px;
     display: flex;
     
 }

 .top-text{
  
    text-align: center;
 }

 .profile{
    margin-left: 200px;
 }




}


@media(max-width:500px) {
   

    section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .row img{
        width: 200px;
        height: 200px;
    }
   
    .top-text{
        margin-right: 100px; 
    }

.profile{
    position: relative;
    right: 40px;
}


}